.page-wrap {
    padding: 1em .7em;
    margin: 2em auto;
    max-width: 1400px;

    display: grid;
    grid-template-columns: 20% 55% 1fr;
    gap: 10px;
}

.Info-section {
    background-color: var(--bg-c-section);
    box-shadow: 3px 3px 10px black;
}

.main-section {
    background-color: var(--bg-c-section);
    outline: 2px solid var(--border-color);
    box-shadow: 1px 1px 5px black;
}

.main-section section{
    padding: .6em;
}

.InfoExtra {
    background-color: var(--bg-c-section);
    box-shadow: 3px 3px 10px black;
}

/*Header section*/
.Section-top-header {
    font-weight: bold;
    font-size: var(--fs-400);

    background-color: var(--header_footer-color);
    color: var(--font-color-inverse);

    display: grid;
    grid-template-columns: 1fr 1fr 0;
    flex-direction: row;
    justify-content: space-between;
}

.Eula-icon {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.Eula-icon img {
    margin: .2em;
    border-radius: 50%;
}

.container-li-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 0;
    font-weight: 500;
}

.container-li-menu li {
    margin: 0 .5em;
    cursor: pointer;

    list-style: none;
    color: var(--font-color-inverse);
}

.Open-Menu,
.Close-Menu {
    display: none;
}

/*laptop, tablet*/
@media (max-width: 70em) {
    .page-wrap {
        justify-content: center;
        grid-template-columns: 21.5% 1fr;
    }
}

/*Media Query bar-navegation,removing social-media*/
@media only screen and (max-width: 40em){
    ::-webkit-scrollbar {
        display: none;
    }
    
    .Media-container,
    .InfoExtra,
    .Info-section {
        display: none;
    }
    .page-wrap {
        justify-content: center;
        grid-template-columns: 98%;
    }

    /*Header section*/
    .Section-top-header {
        position: sticky;
        top: 0;
        z-index: 999;
        
        grid-template-columns: 1fr 1fr;
    }

    .container-navbar {
        z-index: 999;
    }

    .container-li-menu{
        position: fixed;
        top: 0;
        left: 0;

        flex-direction: column;
        justify-content: center;
        
        height: 0;
        width: 100%;
        margin: 0;

        overflow: hidden;
        background-color: var(--header_footer-color);
        transition: all 1s ease;
    }

    .container-li-menu li {
        margin: 3.2em 0;
    }

    .Container-OpenBtn {
        position: relative;
        height: 100%;
    }

    .Open-Menu,
    .Close-Menu {
        position: absolute;
        right: 0;
        
        line-height: 60px;
        font-size: calc(.6rem + var(--fs-600));

        display: block;
        
        border: none;
        background: none;
        color: var(--font-color-inverse);

    }
    
    .Close-Menu {
        top: 0;
        z-index: 150;
    }

    /*script menu*/
    .transition {
        height: 100%;
    }
}