.parent-box-indexer {
    position: absolute;
    height: 100%;
    display: none;
}

.container-indexer {
    position: sticky;
    top: 0;
    z-index: 800;

    width: 200px;
    height: calc(50vh - 12px);
    background-color: red;
}

/*Main part of the website (lore)*/
.container-EulaPiture {
    display: block;
}

.container-lore {
    line-height: 1.6rem;
}

.separator {
    height: 60px;
    background-color: var(--header_footer-color);
}

.hr-separator {
    height: 2px;
    width: 98%;
    background-color: var(--hr-bgcolor);
    border-radius: 50%;
}

@media only screen and (min-width: 40em){
    .ContentBtn,
    .box-content  {
        display: none;
    }
}